.bookContainer {
  display: flex;
  justify-content: center;
  overflow: scroll;
  width: 80%;
  margin: auto
}

.book {
  border: none;
  background-size: 2em;
  background-repeat: no-repeat;
  color: white;
  display: flex; 
  flex-direction: column;
  height: 10em;
  padding: .01em;
  text-decoration: none;
  width: 2em;
}

.book > .title,
.book > .prompt,
.book > .date-published {
  // color: white;
  position: relative;
  margin-left: 1em;
  // font-style: none;
}

.book > .title {
  margin-top: 1em;
  font-size: .01em;
}

.book > .prompt {
  // top: 15.2em;
  font-size: .02em;
  // margin-left: 1.5em
}

.book > .date-published {
  font-size: .01em;
  bottom: 2em;
  // margin-left: 7em;
}

.pop-up {
  font-size: 20px !important;
  color: black !important;
  pointer-events: auto !important;
  background-color: white !important;
  border: solid 1px black !important;
    &:hover {
    visibility: visible !important;
    opacity: 1 !important;
  }
}