.bookContainer {
  display: flex;
  justify-content: center;
  overflow: scroll;
  width: 80%;
  margin: auto
}

.book > img {
  height: 20em;
}

.book > .title,
.book > .prompt,
.book > .date-published {
  color: white;
  position: relative;
  margin-left: 1em;
  font-style: none;
}

.book > .title {
  top: 7.2em;
}

.book > .prompt {
  top: 15.2em;
  font-size: .8em;
  margin-left: 1.5em
}

.book > .date-published {
  font-size: .1em;
  top: 195em;
  margin-left: 7em;
}