@import '../../styles/fonts.scss';

.game-history-box {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}
  
.game-history-content {
  background-color: rgb(252, 246, 214);
  position: absolute;
  top: 1.5em;
  left: -7.7em;
  width: 33em;
  height: 22em;
  padding: 20px 20px 30px;
  border-radius: 5px;
  border: 2px solid black;
  overflow: auto;
  box-shadow: -5px 5px 20px  $graphite;
}

.drawing {
  height: 200px;
  width: 150px;
  background-size: cover;
  margin: 10px;
}

.game-history-drawings {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 50px;
  width: 100%;
}

.close {
  color: Black;
  float: right;
}
  
.close:hover {
  color: rgb(255, 166, 0);
  cursor: pointer;
}
