.game-history-box {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}
  
.game-history-content {
  background-color: white;
  position: absolute;
  top: 20%;
  left: 30%;
  width: 40%;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid black;
}
  
.close {
  color: Black;
  float: right;
}
  
.close:hover {
  color: rgb(255, 166, 0);
  cursor: pointer;
}