@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');

$main-font: 'Grenze Gotisch';
$fancy-letter: 'UnifrakturMaguntia';
$font-shadow: -3px 3px 5px rgba(0, 0, 0, 0.63);
$shadow-transition: all ease-in-out .324s;
$graphite: rgba(24, 24, 24, 0.911);