@import '../../styles/fonts.scss';

.Instructions-sec {
  display: flex;
  justify-content: space-around;
  margin-left: 5em;
  background-color: rgba(255, 255, 255, 0.178);
  border-radius: 2em;
  box-shadow: 0 0 40px 40px rgba(255, 255, 255, 0.178);
}

.Instructions-header-text {
  display: block;
  font-size: 2.6em;
}

.game-instructions {
  width: 50%;
  font-size: 1.5em;
}

.sidenav {
  margin: 3em 1em 0 3em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;

}

.show-history-button {
  font-family: $main-font;
  height: 20px;
  background: none;
  border: none;
  outline: none;
  color: $graphite;
  margin: 0 0 1em 0;
  padding: 0;
  cursor: pointer;
  font-size: 2em;
  transition: $shadow-transition;

  &:hover {
    text-shadow: $font-shadow;
  }
}

.start-new-story-link {
  font-size: 2em;
  color: $graphite;
  transition: $shadow-transition;

  &:hover {
    text-shadow: $font-shadow;
  }
}

.or {
  margin-left: 4em;
  font-size: 2em;
}

.Instructions-sec a {
  margin: 0;
  text-decoration: none;
}

.text {
  font-size: 2em;
  font-weight: 400;
  margin-left: 1.5em;
}

.continue {
  margin: 2em 0 0 6.25em;
  width: 6em
}
