.Instructions-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10em;
  margin-right: 10em;
}

.Instructions-header-text {
  font-size: 4em;
}

.show-history-button {
  height: 20px;
  background-color: white;
  border: none;
  color: rgb(70, 0, 128);
  margin-bottom: 2em;
}

.start-new-story-link {
  font-size: 400px;
}

button:hover {
  background-color: white;
}

a {
  margin: 0;
}
