#story-edit-container {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  width: 80%;
  margin: auto;
}

#title {
  margin-top: 1em;
}

#story {
  margin: 1em 0;
  height: 200px;
  font-family: inherit;
}

#post-button {
  width: 20%;
  align-self: flex-end;
}