header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}

a {
  margin: 10px 0 10px 35px;
  text-decoration: none;
}

.navbar {
  margin: 35px 35px 0 0;
}

button {
  height: 2.5em;
  font-size: 1em;
  cursor: pointer;
}
