article, header, h2, h3, h4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0em;
}

header {
  margin-bottom: 2em;
}

.story-title {
  font-size: 3em;
}

.date-genre {
  font-size: 1.4em;
}

.contributors {
  margin-top: 1em;
  font-size: 1.2em;
}

.story-body {
  font-size: 1.2em;
}

p {
  margin: 0em;
}