.StorySetup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form label, 
form p {
  text-align: center;
  font-size: 1.5em;
}

select, 
.refresh-genre {
  text-transform: capitalize;
}

.prompt {
  font-size: 1.5em;
  color: forestgreen;
  width: 40em;
}

@media screen and (max-width: 654px) {
  .StorySetup {
    margin: 0 30px 0 30px
  }
}