@import '../../styles/fonts.scss';


.StorySetup {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.178);
  border-radius: 50%;
  box-shadow: 0 0 40px 40px rgba(255, 255, 255, 0.178);
}

.first-line {
  font-size: 2em;
  margin-top: 2em;
  margin-bottom: .25em;
}

.last-line {
  font-size: 1.5em;
  margin-top: 1.25em;
}

form label, 
form p {
  text-align: center;
  font-size: 1.5em;
}

select, 
.refresh-genre {
  text-transform: capitalize;
}

.refresh-genre {
  background: none;
  outline: none;
  border: none;
  font-family: $main-font;
  font-size: 1.5em;
  margin: .25em 0 1em;
  cursor: pointer;
  text-shadow: 0px 0px 2.5px $graphite;
  transition: $shadow-transition;

  &:hover {
    text-shadow: $font-shadow;
  }
}

.prompt {
  margin: .5em;
  font-size: 1.5em;
  color: forestgreen;
  width: 40em;
  text-shadow: 0px 0px 1.5px black;
  text-align: center;
}

@media screen and (max-width: 654px) {
  .StorySetup {
    margin: 0 30px 0 30px
  }
}