@import url('https://fonts.googleapis.com/css?family=Homemade+Apple');

@font-face {
  font-family: 'Homemade Apple';
  src: url('https://fonts.googleapis.com/css?family=Homemade+Apple')
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
